# 46.소수만들기

In [ ]:
def solution(nums):
    answer = 0

    for first in range(0, len(nums)-2):
        for second in range(first+1, len(nums)-1):
            for third in range(second+1, len(nums)):
                sum_num = nums[first] + nums[second] + nums[third]
                # 소수 판별
                for i in range(2, sum_num//2):
                    if sum_num % i == 0:
                        break
                else:
                    answer += 1
    return answer

In [ ]:
# 다른 사람 풀이
def solution(nums):
    from itertools import combinations as cb # 중복허용(X), 순서의미(O) 인 조합을 import
    answer = 0
    for a in cb(nums, 3):
        cand = sum(a)
        for j in range(2, cand):
            if cand%j==0:
                break
        else:
            answer += 1
    return answer

In [ ]:
# 구글링
from itertools import combinations

# 아리스토텔레스의 체 반환
def aristoSieve(size):
    aristo = [True] * (size + 1)
    aristo[0], aristo[1] = False, False
    
    # 1 ~ 1000까지의 아리스토텔레스의 체
    for i in range(2, int(size ** 0.5) + 1):
        if aristo[i] == True:
            for j in range(i + i, size + 1, i):
                aristo[j] = False
                
    return aristo

# 솔루션 함수
def solution(nums):
    answer = 0
    # 아리스토 체 생성
    aristo = aristoSieve(3000)
    # 숫자 3개를 조합해서 나오는 것을 출력
    combi = list(combinations(nums, 3))
    
    for case in combi:
        if aristo[sum(case)]:
            answer += 1

    return answer

# 47.내적

In [ ]:
def solution(a, b):
  for i in range(len(a)):
    a[i] *= b[i]

  return sum(a)

In [ ]:
# 메모 
a = [1,2,3,4]
b =	[-3,-1,0,2]

for i in range(len(a)):
  a[i] *= b[i]

sum(a)

3

In [ ]:
# 다른 사람 풀이

def solution(a, b):
    return sum([x*y for x, y in zip(a,b)])

# 48.음양 더하기

In [ ]:
def solution(absolutes, signs):
  for i in range(len(absolutes)):
    if signs[i] :
      absolutes[i] *= 1

    else:
      absolutes[i] *= (-1)

  return sum(absolutes)

In [ ]:
absolutes = [4,7,12]
signs = ['true', 'false', 'true']

for i in range(len(absolutes)):
  if signs[i] == 'true':
    absolutes[i] = absolutes[i] * 1

  else:
    absolutes[i] = absolutes[i] * (-1)

sum(absolutes)

9

# 49.없는 숫자 더하기

In [ ]:
def solution(numbers):
  main = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

  return sum(main - set(numbers))

14

# 50.크레인 인형뽑기 게임

In [ ]:
def solution(board, moves):
  board2 = []
  ans = 0

  for i in moves:
    for j in board:
      if j[i-1] > 0:
        board2.append(j[i-1])
        # print(board2)
        j[i-1] = 0
        

        if len(board2) > 1:
          if board2[-2] == board2[-1]:
            del board2[-2], board2[-1]
            # del board2[-1]
            # print(board2)
            ans += 2
            
        break

  return ans

[4]
[4, 3]
[4, 3, 1]
[4, 3, 1, 1]
[4, 3, 3]
[4, 2]
[4, 2, 4]
4